* {
  margin: 0;
  padding: 0;
  font-family: "Inter";
}

body {
  color: #465258;
}
header {
  width: 100vw;
  padding: 24px;
  background-color: #faf9f6;
}
header > h1 {
  display: flex;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 100px;
  margin: 1em 0 0.3em 0;
}

nav > ul > li {
  list-style: none;
}
nav > ul > li > a {
  font-weight: 650;
  text-decoration: none;
  color: #465258;
  font-size: 1.5em;
  font-style: italic;
}

nav > ul > li > a:hover {
  color: #010a0f;
}

.Sections {
  background-color: #f5f2ec;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: solid 2px #010a0f;
}

.meaning {
  width: 50vw;
  height: 60vh;
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
  background-color: #e9e6d5;
  padding: 30px;
  border-radius: 30px;
}

.labels {
  font-size: 3em;
}

.squestion {
  margin-bottom: 3vh;
}

.Sections > .meaning ul li {
  margin: 8px 0 4px 48px;
}

.Sections > .meaning ol li {
  margin: 8px 0 4px 48px;
  font-size: 0.84em;
}
